body {
	background-image: url(https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xft1/v/t1.0-9/11745492_1649838261919114_5135715774849559348_n.jpg?oh=26a77eebf470f9868da5afbad50c673c&oe=564C75CE);
	background-size: 100%;
	background-repeat: no-repeat;
}
body img {
	height: 100%;
	width: 100%;
}
#menu {
	position: fixed;
	right: 40%;
	top: -1px;
	border-radius: 5px;
	border:2px solid black;
	float:right;
	opacity: .7;
	clear: both;
	
}
#menu ul {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Verdana;
}
 #menu ul li {
	float: right;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgb(0,70,120);
}
#menu ul li a {
	text-decoration: none;
	color: white;
}
#menu ul li li {
	background: rgb(0,70,150);
	display: none;
	color: white;
	border:1.5px solid black;
}
#menu ul li:nth-child(4) {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#menu ul li li:hover {
	background: blue;

}
#header {
	color: white;
	font-size: 22px;
	font-family: impact;
	/*background:rgb(0,35,70);*/
	text-align: left;
	

}
#header p {
	position: relative;
	left: 40px;
}
#header h1 {
	position: relative;
	left: 10px;
	opacity: 	1;

}
#header img {
	position: absolute;
	left: 400px;
	top: 20px;
	height: 100px;
	width: 100px;
}
#googleMap {
	position: relative	;
	top: 25%;
	left: 2%;
	border: 3px solid white;
	border-radius: 5px;
}
#userpass {
	position: absolute;
	top: -1px;
	right: -1px;
	float: right;
	text-align: right;
	color: white;
	width: 250px;
	border-radius: 5px;
}
#userpass h4 {
	font-size: 22px;
	position: relative;
	text-align: center;
	top: 22px;
	text-decoration:none ;
	opacity: 	1;
}
#userpass button {
	position: relative;
	text-align: center;
}
#hdrBkrd {
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(0,40,100,0.5);
	width: 100%;
	height: 170px;
	opacity: 0.8;
}