*{
	border:1px dashed black;
}
#menu {
	margin-top:; -1;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Verdana;
}
 #menu ul li {
	float: left;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: rgb(0,35,70);
}
#menu ul li a {
	text-decoration: none;
	color: white;
}
#menu ul li li {
	background: rgb(0,35,75);
	display: none;
	color: white;

}
#menu ul li li:hover {
	background: blue;

}
#header {
	color: white;
	font-size: 22px;
	font-family: impact;
	background:rgb(0,35,70);
	text-align: center;
	border:5px solid black;
	border-radius: 10px;
}
#header p {
	margin-top: -20px;
}
